* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: $fs-0;
  line-height: $lh-0;
  color: $cl-black-0;
  background-color: $cl-white-0;
}

// HEADER
//     COVER
//     INTRO
//     COURSE
//     VIEWING
//     BANNER
//     CATEGORIES
//     PARTNERS
//     JOB
//     FOOTER