.banner {
  background: url(../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat,
    linear-gradient(61deg, $cl-purple, $cl-blue-1 41%);
  background-blend-mode: overlay;
  height: 325px;
  text-align: center;
  display: flex;
  align-items: center;
  .container {
    h2 {
      @include styles($cl-white-0, $fs-4, $fw-0);
    }
    p {
      color: $cl-white-0;
      margin-bottom: 0;
    }
    button{
        margin: $fs-1 - 3 0;
    }
  }
}
